 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


:root {

  overflow-x: hidden;

	--dark-green: #1A5C00;
  --green: #237B00;
  --yellow-green: #84B800;
  --yellow: #B5B800;
  --orange: #D47E00;
  --red: #D41200;

  --lavender-web: #D8DFEEff;
  --bleu-de-france: #4C87CDff;
  --mandarin: #E77B43ff;
  --trans-mandarin: rgba(231, 122, 67, 0.787);

  --dark-brown: #6F512Fff;
  --black-chocolate: #28241Bff;

  --army-green: #474708ff;

  --light: var(--lavender-web);
  --blue: var(--bleu-de-france);
  /* --orange: var(--mandarin); */
  --brown: var(--black-chocolate);
  /* --green: var(--army-green); */

  --image-width: 100px;
  --icon-width: 80px;


  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 600px) {
  :root {
    --scorecard-width: 95vw;
  }
}
@media only screen and (min-width: 601px) {
  :root {
    --scorecard-width: 90vw;
  }
}