/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


:root {
  --green: #237B00;
  --yellow-green: #84B800;
  --yellow: #B5B800;
  --orange: #D47E00;
  --red: #D41200;

  --scorecard-width: 80vw;
  --image-width: 100px;
  --icon-width: 80px;


  font-family: 'Lato', sans-serif;
}