.background-image {

    width: 100vw;
    min-height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: -2;

    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--light);
/* 
    filter: blur(8px); */
}

h1 {
    text-align: center;
}

.App {

    width: 100vw;
    /* min-height: calc(100vh - 3em); */
    min-height: 100vh;

    /* padding-top: 3em; */

    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    /* justify-content: center; */
    /* -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px); */


}

#new-issue-form {
    padding-right: 2em;
    padding-left: 2em;
    /* border-right: 1px solid black; */
    margin-bottom: 0;
}


.Candidate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CandidateHub {
    width: var(--scorecard-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-top: 3rem;
}

/* .IssueHub {


    padding: 12px;
    border: 1px solid black;
    margin-bottom: 1em;
    background-color: var(--trans-mandarin);
    display: flex;
    flex-direction: row;
    justify-content: center;


} */


.card {
    padding: 12px;
    border: 1px solid black;
    margin-bottom: 1em;
    background-color: var(--trans-mandarin);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.UserCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.2em;
}

.vertical-words {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#all-issues {
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Issue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}

.issue-title {
    min-width: 280px;
    font-size: 1.4em;
    margin-bottom: .5em;
}

.candidate-container {
    max-width: 1100px;
    /* justify-self: center; */
    padding: 12px;
    /* box-shadow: 0px 3px 3px var(--brown); */
    /* border: 1px solid black; */
    border-radius: 20px;
    margin-bottom: 1em;
    background-color: var(--blue);

    display: flex;
    justify-content: space-between;

    /* -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px); */

}

.navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    background-color: var(--mandarin);
    box-shadow: 3px 3px 3px var(--brown);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.navbar-link {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    transition: .5s ease color;
    padding: 1em;
}

.navbar-link:hover {
    color: grey;
}

.navbar-link.selected {
    color: grey;
    pointer-events: none;
}

.candidate-issue-container {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    
    /* grid-template-columns: auto; */
    /* grid-auto-rows: auto; */
    /* align-items: center; */
    /* text-align: centerZZZZ; */
}

.single-issue-opinion-container {
    display: flex;
    justify-content: space-between;

    background-color: var(--light);
    /* box-shadow: 2px 2px 3px var(--brown); */
    /* border: 1px solid black; */
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 12px;

    text-align: center;
}

.candidate-issue {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.candidate-opinion {
    text-align: end;

}

.candidate-opinion.selected {
    text-decoration: underline;
}

.yes-opinon {
    color: var(--green);
}

.leans-yes-opinion {
    color: var(--yellow-green);
}

.neutral-opinion {
    color: var(--yellow);
}

.leans-no-opinion {
    color: var(--orange);
}

.no-opinion {
    color: var(--red);
}

.candidate-information-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}

@media only screen and (max-width: 1100px) and (min-width: 951px) {

    .candidate-image:hover {
        transform: scale(2) translateY(calc(var(--image-width) / 4));
    }

    .candidate-issue-container {
        flex-direction: column;
    }


    .candidate-container {
        flex-direction: column;

    }

    .candidate-information-container {
        flex-direction: row;
    }

    .single-issue-opinion-container {
        flex-direction: column;
    }


    .candidate-issue-form {
        flex-direction: row;
    }

    /* .candidate-opinion-options {

    } */

}

@media only screen and (min-width: 1101px) {

    .candidate-image:hover {
        transform: scale(2) translateX(calc(var(--image-width) / 4)) translateY(calc(var(--image-width) / 12));
    }

    .candidate-issue-container {
        flex-direction: column;
    }

    .candidate-issue-form {
        flex-direction: row;
    }

    .candidate-container {
        flex-direction: row;

    }

    .candidate-information-container {
        flex-direction: column;
    }

    .single-issue-opinion-container {
        flex-direction: row;
    }

}

@media only screen and (min-width: 851px) and (max-width: 950px) {


    .candidate-image:hover {
        transform: scale(2) translateY(calc(var(--image-width) / 4));
    }


    .candidate-issue-container {
        flex-direction: row;
    }

    .candidate-container {
        flex-direction: column;

    }

    .candidate-issue-form {
        flex-direction: column;
    }

    .single-issue-opinion-container {
        flex-direction: column;
        width: 146px;
    }
/* 
    .candidate-issue-container {
        
    } */

}

@media only screen and (max-width: 850px) {

    .candidate-image:hover {
        transform: scale(2) translateY(calc(var(--image-width) / 4)) translateX(calc(var(--image-width) / 4));
    }

    .navbar-link {
        padding: 0.4rem;
    }

    .navbar {
        font-size: 0.8rem;
    }

    .candidate-issue-container {
        flex-direction: column;
        align-items: center;
    }

    .candidate-container {
        flex-direction: column;

    }

    .candidate-issue-form {
        flex-direction: column;
    }

    .single-issue-opinion-container {
        flex-direction: column;
        width: 146px;
    }

}

/* @media only screen and (max-width: 400px) {


}

@media only screen and (min-width: 401px) {

 
}*/


.candidate-info {
    width: 90px;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.candidate-span {
    max-width: 100px;
    text-align: center;
}

.candidate-image {
    width: var(--image-width);
    height: var(--image-width);
    border-radius: 12px;
    transition: transform .4s;
}



.candidate-party-image {
    width: var(--icon-width);
    height: var(--icon-width);
}

.candidate-sub-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




.candidates-container {

    overflow: hidden;

}

/* .candidates-container.open {


} */

.candidates-container.close {

    height: 0;

}

.LoginPage {
    display: flex;
    width: 100vw;
    height: calc(100vh - 3em);
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#alert-message {
    padding-bottom: 1em;
}

.login-form {
    margin-bottom: 1rem;
    width: 250px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    /* border-radius: 10px; */
    padding: 3em;
    min-width: 35vw;
    text-align: center;

    font-size: 1.5em;

    background-color: var(--trans-mandarin); 
    /* background: linear-gradient(var(--orange), var(--brown)); */

    /* -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px); */

}

.login-header {
    justify-self:flex-start;
}

.align-vertical {
    display: flex;
    flex-direction: column;
}

input {
    padding: .5em;
    /* border-radius: 1.5em; */
    outline: none;
    border: 1px solid var(--brown);
    margin-bottom: .5em;
    text-align: center;
}

button {
    padding: 6px;
    /* border-radius: 16px; */
    outline: none;
    border: 1px solid var(--brown);
    width: fit-content;
    align-self: center;
    font-size: 1rem;

    /* background-color: var); */
}



input:hover,
input:focus,
button:hover,
button:focus {
    
    outline: 1px solid black;

}


input[type='radio']:hover,
input[type='radio']:focus,
input[type='checkbox']:hover,
input[type='checkbox']:focus  {
    box-shadow: 0 0 0 black !important; 
    outline: none;
}

button {
    transition: transform .2s;
}

button:hover,
button:focus {
    transform: scale(1.1);
}


#show-password-button-label {
    font-size: 1rem;
}

#show-password-button {
    box-shadow: 0 0 0 var(--brown) !important;
    
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    text-align: center;
}

label {
    text-align: center;
}

.candidate-header {
    /* width: calc(var(--scorecard-width) / 2); */
    /* border: 1px solid black; */
    /* align-self: center; */
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.opinion {
    margin: .5em;
    min-width: 6em;
    max-width: 8em;
    border-radius: 12px;
    transition: transform .2s, border .2s;
    z-index: 0 !important;
}

.opinion:hover,
.opinion:focus {
    /* box-shadow: 4px 4px 3px var(--brown); */
    transform: scale(1.2);

}

.opinion.selected {
    transform: scale(1.2);
    border: 2px solid black;
}

.yes {
    background-color: var(--green);
}

.leans-yes {
    background-color: var(--yellow-green);
}

.neutral {
    background-color: var(--yellow);
}

.leans-no {
    background-color: var(--orange);
}

.no {
    background-color: var(--red);
}

.unknown {
    background-color: grey;
}

.sponsor {
    background-color: var(--dark-green);
}

.candidate-issue-form {
    margin-bottom: 0 !important;
}

.AccountHub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

}

.align-horizontal {
    display: flex;
    flex-direction: row;
}

#change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-bottom: .5rem;
}

.password-input-container {
    display: flex;
    flex-direction: row;
}

.show-password-button-container {
    display: flex;
    flex-direction: row;
    position: relative;

    top: 1.2em;
    padding-right: .5em;
    align-items: center;
}

#show-password-button-label {
    height: 1em;
}

#show-password-button {
    margin: .1em;
}

label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pad-bot {
    padding-bottom: 1em;
}

.loader-container {
    width: 0;
    height: 0;
    position: fixed;
    top: 60px;
    right: 120px;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid black; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin-load 2s linear infinite;
    margin-bottom: 1em;
}

@keyframes spin-load {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#change-password-form {
    font-size: 1.2em;
}